<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
        <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
</head>

<body>

        <header>
          <h1>{{ SITENAME }}</h1>

          <a href="mailto:dat.nguyen@cantab.net">
            <img class='email'
                 src='{{ SITEURL }}/theme/icons/email.svg'
                 alt='email me'
                 title='email me'/>
          </a>
          </a>
          <a href="https://github.com/dkn22">
            <img class='github'
                 src='{{ SITEURL }}/theme/icons/github.svg'
                 alt='github projects'
                 title='github profile'/>
          </a>
          <a href="https://uk.linkedin.com/uk/datknguyen">
            <img class='linkedin'
                 src='{{ SITEURL }}/theme/icons/linkedin.svg'
                 alt='linkedin'
                 title='linkedin profile'/>
          </a>
          <a href="https://www.goodreads.com/user/show/4672749-dat">
            <img class='goodreads'
                 src='{{ SITEURL }}/theme/icons/goodreads.svg'
                 alt='goodreads'
                 title='goodreads profile'/>
          </a>


          {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}
        </header>

        {% block content %}
        {% endblock %}

        <footer class="footer-menu">
            <a href="#top">Back to the top</a>
             <hr />
             <font color="gray" size=0.5><a href="https://github.com/luizirber/blog">Template by Luiz Irber</a></font>
        </footer>
        
</body>
</html>
